/* font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Rubik', sans-serif; */

body {
  max-width: 1920px;
  margin: 0;
  padding: 0;

  background-color: #E5E5E5;

  font-family: "Roboto Mono", monospace;
  font-size: 18px;
  line-height: 22px;
}

.container {
  max-width: 1480px;
  margin: 0 auto;
}



a {
  text-decoration: none;

  color: #C5E1E5;
}

ul, li {
  list-style: none;
}

header {
  background-color: #2A8086;
}

.header {
  display: flex;
  justify-content: space-between;

  padding: 13px 0;
}

.logo {
}

.logo-header {
  margin-right: 50px;
}

.header-menu {
  display: flex;
  justify-content: space-between;

  width: 100%;
  max-width: 100%;
}

.nav-menu-list {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: 515px;
  padding: 0;
}

.list-item {
}
/* TODO: сделать ссылку не активной */
.list-item-active::after {
  display: block;

  width: 100%;

  content: "";

  border-bottom: 2px solid #C5E1E5;
}

.nav-menu-list-imput {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: 245px;
  padding: 0;
}

.item-input-heder {
  display: flex;
  justify-content: space-between;

  text-align: center;

  font-family: "Roboto", sans-serif;
}

.field-search {
  display: none;
}

.icon-search {
}

.button-sign {
  box-sizing: content-box;
  padding: 14px 13px;

  border: 1px solid #C5E1E5;
  border-radius: 100px;
}

/* TODO: увеличивать при ширене 1920 и больше */
.main-header-bgr {
  position: relative;
  top: -10px;

  background: url(/image/header-bgr.svg) no-repeat;
  background-size: contain;
}
@media (min-width: 2000px) {
  .main-header-bgr {
    background-size: cover;
  }
}

.main-header-body {
  display: flex;

  height: 100%;
}


.main-header-block {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: end;

  max-height: 430px;

  font-family: "Rubik", sans-serif;
}

.main-header-title {
  max-width: 773px;
  margin: 110px 0 15px 0;

  color: #F3F7F8;

  font-size: 63.5px;
  font-weight: 500;
  line-height: 75px;
}

.main-header-title:first-line {
  font-size: 72px;
  font-weight: 300;
  line-height: 85px;
}

.main-header-context {
  max-width: 480px;

  color: #F3F7F8;

  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

.main-header-button {
  align-items: center;

  margin-top: 72px;
  padding: 14px 84px;

  text-align: center;
  letter-spacing: -1px;
  text-transform: uppercase;

  color: #0D444D;
  border-radius: 100px;
  background-color: rgba(255, 255, 255, 1);

/* TODO: сделать тень */
  box-shadow: 0px 2px 50px rgba(185, 213, 217, .6);

  font-family: "Roboto Mono", monospace;
  font-size: 18px;
  font-weight: 400;
}
.main-header-bgr-video {
  position: relative;
  top: -70px;
  left: -50px;
}
.main-header-play-video {
  position: relative;
  z-index: 2;
  top: 362px;
  right: -320px;
}

.main-works-info {
  position: relative;
}
.main-works-info-global-page {
  margin-bottom: 83px;
}
.title-h2 {
  text-transform: uppercase;

  color: #0D444D;

  font-family: "Rubik", sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.main-works-title {
  position: relative;
  top: -78px;
}
.main-works-list {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: 1250px;
  margin: 0 100px;
  padding: 0;

  text-align: center;
}

.main-works-list-item {
  display: inline-block;
  justify-content: center;
}
figure {
  margin: 0;
}
.main-works-list-img {
  display: inline-block;

  padding: 44px;

  border-radius: 50%;
  background-color: #F3F7F8;
}
.main-works-list-item-subtitle {
  margin-top: 15px;
}
.subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
.main-body-bg {
  min-width: 463px;
}
.main-body-bg-global-page {
  margin-bottom: 55px;

  background: url(/image/main-background.svg) no-repeat ;
  background-size: 100% ;
}

.body-bg-items {
  display: flex;
  justify-content: space-between;

  width: 100%;
  min-height: 530px;
}
.item-1 {
  position: relative;
}
.tree-first {
  margin-top: 42px;
  margin-left: 220px;
}
.item-2 {
  min-width: 381px;
}
.tree-small {
  position: absolute;

  max-height: 158px;
  margin-top: 101px;
}
.panda {
  position: absolute;

  margin-top: 200px;
  margin-left: 155px;
}
.bamboo-panda {
  position: absolute;

  min-height: 280px;
  margin-top: 90px;
  margin-left: 245px;
}
.item-3 {
  position: relative;

  min-width: 305px;
}
.tree-third {
  max-height: 230px;
  margin-top: 160px;
  margin-bottom: 131px;
}

.main-body-slider {
  min-height: 867px;
}

.slider-title-links {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  /* margin-bottom: ; */
}
.slider-links {
  display: flex;
  justify-content: space-between;
  border: 1.5px solid #19707D;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  padding: 13px 20px 13px 20px;
  border-radius: 100px;
  color: #19707D;
}
.slider-links-icon-heart {
  margin-right: 16px;
}
.slider-title-links-global-page {
  margin-bottom: 40px;
}
.slider-list {
  display: flex;
  flex-wrap: wrap;

  height: 100%;
  min-height: 748px;
  margin-bottom: 100px;
}


.slider-item {
  flex: 1 1 auto;
  max-width: 480px;
  margin: 20px 20px 0px 0px;

  border-radius: 10px;
  background-color: #F3F7F8;
}
.slider-item:nth-last-child(3n+1) {
  margin-right: 0;
}
.slider-item-img {
  margin: 20px 119px 32px 125px;
}

.slider-item-info {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 100%;

  border-top: 1px solid #E5EAEB;
}

.slider-item-text {
  display: flex;
  flex-wrap: wrap;


  margin-left: 30px;
  margin-bottom: 6px;
}

.slider-item-title {
  display: block;

  width: 100%;

  color: #2D2D2D;

  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}

.slider-item-subtitle {
  color: #909090;
}
.slider-item-icon-video {
  margin: 29px;
}
.main-body-eyp {
}

.pay-eyp {
}

.pay-eyp-item {
}

.line-and-arrow {
}

.main-footer {
}

.main-footer-title {
}

.main-footer-block-comments {
}

.comment-column {
}

.comment-data {
}

.comment-text {
}

.name-commentator {
}

.main-footer-scroll-list-animals {
}

.main-footer-scroll-item {
}

.footer {
}

.design {
}
