/* font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Rubik', sans-serif; */

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
    max-width: 100%;
}


.container {
    max-width: 1480px;
    margin: 0 auto;
}
header {
    background-color: #2A8086;   
}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
    color: #C5E1E5;
    
}
ul,li {
    margin: 0;
    padding: 0;
}
.header {
    display: flex;
    align-items: center;
    
}
.logo {
    max-width: 100%;
}

.logo-header {
    margin: 0 53px 0 0;
    padding: 13px 0;
}

.header-menu {
    display: flex;
    align-items: center;
    max-width: 100%;
    width: 100%;
    justify-content: space-between;
}

.nav-menu-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
    max-width: 574px;
    width: 100%;
}
.nav-menu-list-imput {
    display: flex;
    list-style: none;
    justify-content: space-between;
    max-width: 100%;
}
.list-item {   
    
}
.item-input-heder {
    margin-left: 40px;
}
.list-item-active::after {
    content: "";
    display: block;
    width: 100%;
    border-bottom: 2px solid #C5E1E5;
    
    
}
.button-sign {
    border: 1px solid #C5E1E5;
    padding: 16px 14px;
    border-radius: 100px;
}
.icon-search {
}
.field-search {
    /* display: none; */
    position: relative;
    top: -8px;
    height: 80%;
}
.main-header {
}
.main-header-bg {
}
.main-header {
}
.main-header-context {
}
.main-header-title {
}
.main-header-text {
}
.main-header-button {
}
.hou-it-works-info {
}
.hou-it-works-list {
}
.hou-it-works-list-item {
}
.main-body-bg {
}
.body-bg-items {
}
.item-1 {
}
.main-body-slider {
}
.slider-title-links {
}
.slider-list {
}
.slider-item {
}
.slider-item-info {
}
.slider-item-text {
}
.slider-item-title {
}
.slider-item-subtitle {
}
.main-body-eyp {
}
.pay-eyp {
}
.pay-eyp-item {
}
.line-and-arrow {
}
.main-footer {
}
.main-footer-title {
}
.main-footer-block-comments {
}
.comment-column {
}
.comment-data {
}
.comment-text {
}
.name-commentator {
}
.main-footer-scroll-list-animals {
}
.main-footer-scroll-item {
}
.footer {
}
.design {
}