/* font-family: 'Roboto', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Rubik', sans-serif; */

body {
  margin: 0;
  padding: 0;

  font-family: "Roboto Mono", monospace;
  font-size: 18px;
  line-height: 22px;
}
.container {
  max-width: 1480px;
  margin: 0 auto;
}
@media (max-width: 1920px) {
  .container {
    max-width: 100%;
    margin: 0 90px 0 220px;
  }
}
a {
  text-decoration: none;
  color: #C5E1E5;
}

ul, li{
  list-style: none;
}

header {
  background-color: #2A8086;
}

.header {
  display: flex;
  justify-content: space-between;

  padding: 13px 0;
}

.logo {
}

.logo-header {
  margin-right: 50px;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  width: 100%;
}

.nav-menu-list {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: 515px;
  padding: 0;
}

.list-item {
  
}

.list-item-active::after {
  display: block;

  width: 100%;

  content: "";

  border-bottom: 2px solid #C5E1E5;
}

.nav-menu-list-imput {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 250px;
  width: 100%;
  
}


.item-input-heder {
    /* display: flex;
  
  justify-content: space-between;
  text-align: center;
  width: 100%;
   */
}

.field-search {
  display: none;
}

.icon-search {
}

.button-sign {
  border: 1px solid #C5E1E5;
  padding: 14px 10px;
  box-sizing: content-box;
  border-radius: 100px;
}
/* TODO: увеличивать при ширене 1920 и больше */
.main-header {
  background: url(/image/header-bgr.svg) no-repeat  100% 0;
  background-size: contain;
}
.main-header-body {
  min-height: 795px;
}
.bgr {
  max-width: 100%;
}

.main-header-bg {
}

.main-header-context {
}

.main-header-title {
  margin-top: 0;
}

.main-header-text {
}

.main-header-button {
}

.hou-it-works-info {
}

.hou-it-works-list {
}

.hou-it-works-list-item {
}

.main-body-bg {
}

.body-bg-items {
}

.item-1 {
}

.main-body-slider {
}

.slider-title-links {
}

.slider-list {
}

.slider-item {
}

.slider-item-info {
}

.slider-item-text {
}

.slider-item-title {
}

.slider-item-subtitle {
}

.main-body-eyp {
}

.pay-eyp {
}

.pay-eyp-item {
}

.line-and-arrow {
}

.main-footer {
}

.main-footer-title {
}

.main-footer-block-comments {
}

.comment-column {
}

.comment-data {
}

.comment-text {
}

.name-commentator {
}

.main-footer-scroll-list-animals {
}

.main-footer-scroll-item {
}

.footer {
}

.design {
}

